@forward "./base/index";
@use "./util/index";

@mixin section_head {
    font-size: 38px;
    font-weight: 700;
    font-family: index.$Urbanist;
    color: index.$Grey15;
    margin-bottom: 6px;
    text-align: center
}

.common_section_head {
    h2 {
        @include section_head;
    }

    p {
        width: 780px;
        @include paragraph;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 60px;
    }
}

/* ========== hero css part start ========== */
#hero .row {
    padding: 0;
}

#hero .row>* {
    padding-left: 0;
    padding-right: 0;
}

.hero_image {
    width: 650px;
    overflow: hidden;

    image {
        border-radius: 0 0 50px 0;
    }
}

.hero_left {
    padding: 97px 0;
}

.hero_texts {
    h2 {
        font-size: 22px;
        font-weight: 600;
        font-family: index.$Urbanist;
        color: index.$Dark-Green15;
        position: relative;
        margin-bottom: 10px;
    }

    h2::after {
        content: "";
        width: 302px;
        height: 3px;
        background: #cbea7b;
        position: absolute;
        bottom: -26%;
        left: 0;
    }

    h1 {
        width: 476px;
        font-size: 48px;
        font-weight: 700;
        font-family: index.$Urbanist;
        color: index.$Dark-Green15;
        margin-bottom: 16px;
    }

    p {
        width: 610px;
        @include paragraph;
    }
}

.hero_buttons {
    margin: 40px 0 50px 0;
    display: flex;
    gap: 14px;
}

.hero_button_one {
    padding: 14px 16px;
    background: index.$Green70;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    font-family: index.$Urbanist;
    color: index.$Grey15;
    transition: all linear .3s;
}

.hero_button_one:hover {
    background: index.$Dark-Green15;
    color: index.$Grey97;
}

.hero_button_two {
    padding: 14px 20px;
    background: index.$Green95;
    border: 1px solid index.$Green85;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    font-family: index.$Urbanist;
    color: index.$Grey15;
    transition: all linear .3s;
}

.hero_button_two:hover {
    background: index.$Dark-Green15;
    color: index.$Grey97;
}

.hero_customers {
    display: flex;
    align-items: center;
    gap: 6px;
}

.customers_images {
    width: 102px;
    padding: 6px 8px;
    border-radius: 58px;
    border: 1px solid index.$Green70;
    display: flex;
}

.customers_img {
    width: 40px;

    img {
        border-radius: 50%;
    }
}

.img_2 {
    margin-left: -15px;
}

.img_3 {
    margin-left: -15px;
}

.customers_text {
    p {
        font-size: 18px;
        font-weight: 600;
        font-family: index.$Urbanist;
        color: index.$Dark-Green20;
    }

    p span {
        font-size: 18px;
        font-weight: 700;
        font-family: index.$Urbanist;
        color: index.$Dark-Green40;
    }
}

/* --------- hero css part end --------- */
/* ========== features css part start ========== */
#features {
    padding-top: 100px;
}

.features_card {
    padding: 40px;
    background: index.$Green95;
    border: 1px solid index.$Green85;
    border-radius: 10px;
}

.features_card_head {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card_head_icon {
    padding: 12px;
    background: index.$Green70;
    border-radius: 6px;
}

.card_head_text h4 {
    font-size: 20px;
    font-weight: 600;
    font-family: index.$Urbanist;
    color: index.$Grey15;
}

.card_para p {
    margin-top: 20px;
    @include paragraph;
}

/* --------- features css part end --------- */
/* ========== blog css part start ========== */
#blog {
    padding-top: 100px;
}

.blog_card {
    padding: 30px;
    background: index.$Green95;
    border-radius: 10px;
    border: 1px solid index.$Green90;
    overflow: hidden;
}

.blog_card_image {
    width: 100%;
    overflow: hidden;
    border-radius: 12px;

    img {
        transition: all linear .7s;
    }
}

.blog_card:hover .blog_card_image img {
    transform: scale(1.2) rotate(-3deg);
}

.blog_card_head {
    p {
        padding: 40px 0 2px 0;
        @include paragraph;
    }

    h2 {
        font-size: 22px;
        font-weight: 600;
        font-family: index.$Urbanist;
        color: index.$Grey15;
    }
}

.blog_card_paragraph p {
    margin: 20px 0;
    @include paragraph;
}

.card_author {
    padding: 16px;
    background: index.$Green97;
    border-radius: 10px;
    border: 1px solid index.$Green90;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author_info {
    display: flex;
    align-items: center;
    gap: 14px;
}

.author_image {
    width: 50px;
    overflow: hidden;
}

.author_name {
    h3 {
        font-size: 18px;
        font-weight: 600;
        font-family: index.$Urbanist;
        color: index.$Dark-Green15;
    }

    p {
        font-size: 16px;
        font-weight: 500;
        font-family: index.$Urbanist;
        color: index.$Grey35;
    }
}

.blog_save {
    display: flex;
    gap: 8px;

    .blog_button {
        padding: 14px;
        background: index.$Green95;
        border: 1px solid index.$Green90;
        border-radius: 6px;
        font-size: 18px;
        color: index.$Grey30;
        transition: all linear .3s;
    }

    .blog_button:hover {
        color: index.$Dark-Green15;
    }
}

/* --------- blog css part end --------- */
/* ========== testimonial css part start ========== */
#testimonial {
    padding-top: 100px;
}

.testimonial_items {
    margin-top: 90px;

    .testimonial_item {
        width: 414px;
        border-radius: 10px;
        background: index.$Green97;
        border: 1px solid index.$Green90;
        overflow: hidden;
    }

    .testimonial_head {
        padding: 30px;
    }

    .testimonial_icon {
        width: 34px;
        margin-bottom: 40px;
    }

    .testimonial_text p {
        @include paragraph;
    }

    .customer_part {
        width: 100%;
        background: index.$Green95;
        padding: 20px 30px;
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .customer_image {
        width: 50px;

        img {
            border-radius: 10px;
        }
    }

    .customer_name h3 {
        @include paragraph;
        font-weight: 600;
    }

    .slick-slide {
        margin: 0 10px;
    }

    .slick-dots {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        gap: 4px;

        li {
            button {
                border: none;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background: index.$Green85;
                font-size: 0;
            }
        }

        .slick-active {
            button {
                background: index.$Dark-Green30;
            }
        }
    }

    .prev_arrow {
        width: 48px;
        height: 48px;
        text-align: center;
        line-height: 48px;
        border-radius: 6px;
        background: index.$Green95;
        border: 1px solid index.$Green90;
        align-items: center;
        position: absolute;
        top: 93%;
        left: 42%;
        cursor: pointer;
        z-index: 990;
    }

    .next_arrow {
        width: 48px;
        height: 48px;
        text-align: center;
        line-height: 48px;
        border-radius: 6px;
        background: index.$Green95;
        border: 1px solid index.$Green90;
        align-items: center;
        position: absolute;
        top: 93%;
        left: 54%;
        cursor: pointer;
        z-index: 990;
    }
}

/* --------- testimonial css part end --------- */
/* ========== pricing css part start ========== */
#pricing {
    padding: 100px 0 184px 0;
}

.nav {
    justify-content: center;
    gap: 10px;
    border: 2px solid index.$Green80;
    width: 207px;
    padding: 10px;
    border-radius: 8px;
    margin: 0 auto;
}

.nav-link {
    font-size: 14px;
    font-weight: 600;
    font-family: index.$Urbanist;
    color: #4c4c4c;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    font-size: 14px;
    font-weight: 600;
    font-family: index.$Urbanist;
    color: #fff;
    color: var(--bs-nav-pills-link-active-color);
    background-color: index.$Dark-Green20;

}

.nav-link:focus,
.nav-link:hover {
    color: index.$Grey15;
}

.nav_text p {
    text-align: center;
    margin-bottom: 40px;
    @include paragraph;
}

.nav_slider {
    width: 413px;
    border-radius: 10px;
    padding: 40px;
    background: index.$Green95;
    border: 1px solid index.$Green90;
}

.nav_slider_head {
    h2 {
        font-size: 24px;
        font-weight: 600;
        font-family: index.$Urbanist;
        color: index.$Grey15;
    }

    p {
        @include paragraph;
    }
}

.nav_slider_paragraph p {
    margin: 30px 0;
    @include paragraph;
}

.nav_slider_price {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-bottom: 24px;

    h2 {
        font-size: 40px;
        font-weight: 700;
        font-family: index.$Urbanist;
        color: index.$Dark-Green25;
    }

    p {
        @include paragraph;
    }
}

.nav_slider_button a {
    width: 100%;
    padding: 14px 0;
    border-radius: 6px;
    background: index.$Green70;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    font-family: index.$Urbanist;
    color: index.$Grey15;
}

.nav_slider_items {
    .slick-slide {
        margin: 0 10px;
    }

    .slick-dots {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        gap: 4px;

        li {
            button {
                border: none;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background: index.$Green85;
                font-size: 0;
            }
        }

        .slick-active {
            button {
                background: index.$Dark-Green30;
            }
        }
    }

    .prev_arrow {
        width: 48px;
        height: 48px;
        text-align: center;
        line-height: 48px;
        border-radius: 6px;
        background: index.$Green95;
        border: 1px solid index.$Green90;
        align-items: center;
        position: absolute;
        top: 93%;
        left: 42%;
        cursor: pointer;
        z-index: 990;
    }

    .next_arrow {
        width: 48px;
        height: 48px;
        text-align: center;
        line-height: 48px;
        border-radius: 6px;
        background: index.$Green95;
        border: 1px solid index.$Green90;
        align-items: center;
        position: absolute;
        top: 93%;
        left: 54%;
        cursor: pointer;
        z-index: 990;
    }
}

/* --------- pricing css part end --------- */
/* ========== footer css part start ========== */
/* --------- footer css part end --------- */
/* ========== pricing css part start ========== */






/* --------- pricing css part end --------- */