@use '../base/index';
@use '../util/index';

#hero .row {
    padding: 0;
}

#hero .row>* {
    padding-left: 0;
    padding-right: 0;
}

.hero_image {
    width: 650px;
    overflow: hidden;

    image {
        border-radius: 0 0 50px 0;
    }
}

.hero_left {
    padding: 97px 0;
}

.hero_texts {
    h2 {
        font-size: 22px;
        font-weight: 600;
        font-family: index.$Urbanist;
        color: index.$Dark-Green15;
        position: relative;
        margin-bottom: 10px;
    }

    h2::after {
        content: "";
        width: 302px;
        height: 3px;
        background: #cbea7b;
        position: absolute;
        bottom: -26%;
        left: 0;
    }

    h1 {
        width: 476px;
        font-size: 48px;
        font-weight: 700;
        font-family: index.$Urbanist;
        color: index.$Dark-Green15;
        margin-bottom: 16px;
    }

    p {
        width: 610px;
        @include index.paragraph; 
    }
}

.hero_buttons {
    margin: 40px 0 50px 0;
    display: flex;
    gap: 14px;
}

.hero_button_one {
    padding: 14px 16px;
    background: index.$Green70;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    font-family: index.$Urbanist;
    color: index.$Grey15;
    transition: all linear .3s;
}

.hero_button_one:hover {
    background: index.$Dark-Green15;
    color: index.$Grey97;
}

.hero_button_two {
    padding: 14px 20px;
    background: index.$Green95;
    border: 1px solid index.$Green85;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    font-family: index.$Urbanist;
    color: index.$Grey15;
    transition: all linear .3s;
}

.hero_button_two:hover {
    background: index.$Dark-Green15;
    color: index.$Grey97;
}

.hero_customers {
    display: flex;
    align-items: center;
    gap: 6px;
}

.customers_images {
    width: 102px;
    padding: 6px 8px;
    border-radius: 58px;
    border: 1px solid index.$Green70;
    display: flex;
}

.customers_img {
    width: 40px;

    img {
        border-radius: 50%;
    }
}

.img_2 {
    margin-left: -15px;
}

.img_3 {
    margin-left: -15px;
}

.customers_text {
    p {
        font-size: 18px;
        font-weight: 600;
        font-family: index.$Urbanist;
        color: index.$Dark-Green20;
    }

    p span {
        font-size: 18px;
        font-weight: 700;
        font-family: index.$Urbanist;
        color: index.$Dark-Green40;
    }
}
