    $Urbanist: 'Urbanist', sans-serif;
    $Green70: #CBEA7B;
    $Green75: #D3EE91;
    $Green80: #DCF1A7;
    $Green85: #E5F5BD;
    $Green90: #EEF8D3;
    $Green95: #F6FBE9;
    $Green97: #FAFDF2;
    $Green99: #FDFEFB;
    $Dark-Green15: #1A3129;
    $Dark-Green20: #234338;
    $Dark-Green25: #2C5446;
    $Dark-Green30: #346454;
    $Dark-Green40: #468671;
    $Dark-Green60: #79B9A4;
    $Dark-Green80: #BCDCD1;
    $Dark-Green90: #DDEDE8;
    $Grey10: #191919;
    $Grey15: #262626;
    $Grey20: #333333;
    $Grey30: #4C4C4D;
    $Grey35: #59595A;
    $Grey40: #656567;
    $Grey60: #98989A;
    $Grey90: #E6E6E6;
    $Grey95: #F2F2F2;
    $Grey97: #FCFCFC;

