@use "../util/index";

.navbar{
background: index.$Dark-Green15;
--bs-navbar-padding-y:16px;
}
.navbar-brand{
    width: 134px;
    overflow: hidden;
}
.nav_button a{
    width: 101px;
    height: 45px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: index.$Green70;
    font-size: 14px;
   font-weight: 600;
    font-family: index.$Urbanist;
    color: index.$Grey15;
    transition:  all linear .3s;
}
.nav_button a:hover{
    background:index.$Green97;
}
.navbar-expand-lg .navbar-collapse {
    gap: 30px;
}
.main_menu ul li a{
    font-size: 14px;
    font-weight: 600;
    font-family: index.$Urbanist;
    color: index.$Green97 !important;
    transition:  all linear .3s;
}
.main_menu ul li a:hover{
    color: index.$Green70 !important;
}
.main_menu ul li .active_menu{
    color: index.$Green70 !important;
}